<div class="mdk-drawer-layout js-mdk-drawer-layout flex" data-fullbleed="" data-push="" data-has-scrolling-region=""
  data-responsive-width="554px" data-domfactory-upgraded="mdk-drawer-layout">
  <div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable"
    style="transform: translate3d(-256px, 0px, 0px); margin-left: 256px;">
    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>
            Home</a></li>
        <li class="breadcrumb-item active">Quiz</li>
      </ol>
      <div class="card-group">
        <div class="card">
          <div class="card-body text-center">
            <h4 class="mb-0"><strong>25</strong></h4>
            <small class="text-muted-light">TOTAL</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="text-success mb-0"><strong>3</strong></h4>
            <small class="text-muted-light">CORECT</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="text-danger mb-0"><strong>5</strong></h4>
            <small class="text-muted-light">WRONG</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="text-primary mb-0"><strong>17</strong></h4>
            <small class="text-muted-light">LEFT</small>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="10" class="card-header bg-white">
          <div class="media align-items-center">
            <div class="media-left">
              <h4 class="mb-0"><strong>Câu {{questionNo +1}}</strong></h4>
            </div>
            <div class="media-body">
              <h4 class="card-title">
               {{questions[questionNo].title}} ?
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <pre><code [highlight]="code" [lineNumbers]="true"></code></pre>
          <div class="form-group" *ngFor="let item of questions[questionNo].answerDTOS">
            <label class="custom-control custom-checkbox mb-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{item.answer}}</span>
            </label>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-info float-left" mat-button (click)="previousQuestion()">Previous</button>
          <button class="btn btn-info float-right" mat-button (click)="nextQuestion()">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div class="mdk-drawer js-mdk-drawer" data-align="end" data-position="right" data-domfactory-upgraded="mdk-drawer"
    data-persistent="" data-opened="">
    <div class="mdk-drawer__scrim" ></div>
    <div class="mdk-drawer__content">
      <div class="sidebar sidebar-right sidebar-light bg-white o-hidden">
        <div class="sidebar-p-y" data-simplebar="init" data-simplebar-force-enabled="true">
          <div class="simplebar-track vertical" style="visibility: hidden;">
            <div class="simplebar-scrollbar"></div>
          </div>
          <div class="simplebar-track horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar"></div>
          </div>
          <div class="simplebar-scroll-content" style="padding-right: 20px; margin-bottom: -20px;">
            <div class="simplebar-content" style="padding-bottom: 20px;">
              <div class="sidebar-heading">Time left</div>
              <div class="countdown sidebar-p-x" data-value="4" data-unit="hour">
                {{couter}}
                <!-- <p class="pl-1 pr-1"><span class="h5 text-primary">03</span> hrs <span class="h5 text-primary">57</span>
                  min <span class="h5 text-primary">59</span> sec</p> -->
              </div>

              <div class="sidebar-heading">Pending</div>
              <ul class="list-group list-group-fit"  *ngFor="let question of questions ; let i = index">
                <li class="list-group-item">
                  <a (click)="openQuestion(i)">
                    <span class="media">
                      <span class="media-left">
                        <span class="btn btn-white btn-circle">{{i + 1}}</span>
                      </span>
                      <span class="media-body media-middle">
                        {{question.title}}?
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
              <div>
                <button class="btn btn-primary btn-block" (click)="processScoreExam()">
                  Submit <i class="material-icons btn__icon--right">
                    send</i> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // END Sidebar -->
</div>
