<div class="container bg-light py-5">
  <h1 class="display-5 fw-boid">Java Exam</h1>
  <p class="col-md-8 fs-4">This abcdef</p>
  <h4>Running: </h4>
  <ol>
    <li>Chú ý có câu hỏi có 2 đáp án</li>
    <li>Thời gian làm bài 600s</li>
  </ol>
  <h1 style="font-family:cursive;text-align: center">All the best!!!</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <input type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg"  (click)="navitage()">Bắt Đầu</button>
</div>
